@charset "UTF-8";
@import 'mixin';

/* 메인 */
.container{
    &-inner{
        .visual{
            &-wrap{
                position:relative;
                background-repeat:no-repeat;
                background-position:center center;
                padding-top:14rem;
                padding-bottom:19rem;
                background-image:url('../image/main/img-visual_01.jpg');
                background-position:center center;
                background-size:cover;
                border-top:1px solid #002140;
                // img{
                //     display:none;
                // }
            }
            &-txt{
                position:relative;
                *{
                    color:#000;
                }
                h3{
                    font-size:54px;
                    word-break: keep-all;
                    em{
                        display: block;
                        margin-bottom:20px;
                        font-size:32px;
                        font-weight:600;
                    }
                }
                p{
                    margin-top:20px;
                    font-size:20px;
                    word-break: keep-all;
                }
            }
        }
        .notice{
            &-wrap{
                flex-wrap:nowrap;
                max-width:1080px;
                margin:0 auto;
                margin-top:6rem;
                padding:0 1rem;
                justify-content: space-between;
                img{
                    width:100%;
                }
            }
            &-item{
                width:calc(33.3% - 30px);
                margin-left:30px;
                &:first-child{
                    margin-left:0;
                }
                + div{
                    margin-top:0;
                }
                &--healthyInfo{
                    .top{
                        .img-wrap{
                            background:url('../image/main/img-noticeItem-01.jpg') no-repeat 0 0;
                        }
                    }
                }
                &--mediNews{
                    .top{
                        .img-wrap{
                            background:url('../image/main/img-noticeItem-02.jpg') no-repeat 0 0;
                        }
                    }
                }
                &--healthyCheck{
                    .top{
                        .img-wrap{
                            background:url('../image/main/img-noticeItem-03.jpg') no-repeat 0 0;
                        }
                    }
                }
                .top{
                    position:relative;
                    .img{
                        &-wrap{
                            overflow: visible;
                            display: block;
                            height:212px;
                            padding:4rem 3.5rem;
                            box-sizing: border-box;
                            border:1px solid #f0f0f0;
                            background-size:cover;
                        }
                        &-txt{
                            // @include position(absolute, $t:40px, $l:35px);
                            font-size:15px;
                            font-weight:400;
                            line-height:1.5em;
                            br{
                                display:block;
                            }
                            span{
                                display:block;
                                margin-bottom:15px;
                                font-size:26px;
                                font-weight:bold;
                                line-height:100%;
                            }
                        }
        
                    }
                }
                .lists{
                    margin-top:3rem;
                    padding-left:0;
                    li{
                        + li{
                            margin-top:.5rem;
                        }
                        a{
                            display: block;
                            overflow:hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            font-size:18px;
                            font-weight:500;
                        }
                    }
                }
            }
        }
        .treatment{
            &-wrap{
                margin-top:40px;
                box-sizing:bordewr-box;
                background-color:#f2f8f5;
            }
            &-inner{
                @include justify-between;
                max-width:1080px;
                margin:0 auto;
                flex-wrap:nowrap;
                padding:6rem 8rem;
                span{
                    display:block;
                    margin-top:20px;
                    font-size:20px;
                }
                a{
                    width:100%;
                    text-align: center;
                    img{
                        height:auto;
                    }
                    .img-wrap{
                        @include d-flex;
                        @include align-center;
                        @include justify-center;
                        width:110px;
                        height:110px;
                        margin:0 auto;
                        border-radius:100%;
                    }
                    span{   
                        font-weight:500;
                    }
                }
            }
        }
        .banner{
            &-wrap{
                max-width:1080px;
                margin:0 auto;
                padding:7rem 5rem;
                h4{
                    font-weight:300;
                    span{
                        font-weight:700;
                    }
                    em{
                        font-weight:700;
                        color:#004c7e;                        
                    }
                }
                .info{
                    p{
                        @include mobileS{
                            font-size:14px;
                        }
                        @include tablet{
                            font-size:18px;
                        }
                        span{
                            font-weight:500;
                        }
                        +p{
                            margin-top:5px;
                        }
                    }
                }
                @include mobileS{
                    height:auto;
                    margin-top:0;
                    margin-bottom:-30px;
                    background:none;
                    h4{
                        font-size:22px;
                        *{
                            display:block;
                            margin-top:5px;
                        }
                    }
                    .info{
                        margin-top:5.5rem;
                    }
                }
                @include mobileM{
                    h4{
                        *{
                          display:inline-block; 
                          margin-top:0;
                        }
                    }

                }
                @include laptop{
                    height:300px;
                    margin-top:6rem;
                    margin-bottom:0;
                    background:url('../image/main/img-callcenter_new.jpg') no-repeat 0 0;
                    background-size:cover;
                    h4{
                        font-size:26px;
                    }
                    .info{
                        margin-top:55px;
                    }
                }
                // @include mobileS{
                //     margin-top:0;
                //     margin-bottom:0;
                // }
                // @include tablet{
                //     margin-top:60px;
                //     margin-bottom:60px;
                // }
                // img{
                //     width:100%;
                //     @include mobileS{
                //         display:none;
                //     }
                //     @include tablet{
                //         display:block;
                //     }
                // }
                // .m-banner{
                //     @include mobileS{
                //         display:block;
                //     }
                //     @include tablet{
                //         display:none;
                //     }
                // }
            }
        }
    }
}

/* HOVER ======================================================================================================= */
@include media-breakpoint-up(lg){
    .container{
        &-inner{
            .treatment{
                &-inner{
                    a{
                        &:hover{
                            .img-wrap{
                                background-color:#fff;
                                box-shadow:4px 2px 7px 3px rgba(180, 219, 200, .14);
                            }
                            span{
                                font-weight:700;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* RESPONSIVE ================================================================================================== */
/*
* wide: 1600px,// wide screen
* desk: 1400px,// desktop
* xl: 1280px,// notebook
* lg: 1024px,// laptop
* md: 720px,// Medium screen / tablet
* sm: 480px,// large phone
* xs: 360px,// medium phone
* xxs: 320px,// Small phone
* up:min-width / down:max-width / only:(min-width,max-width)
*/

// 최대값
@include media-breakpoint-down(wide){}
@include media-breakpoint-down(desk){}
@include media-breakpoint-down(xl){}
@include media-breakpoint-down(lg){
    .container{
        &-inner{
            .visual{
                &-wrap{
                    padding-top:40rem;
                    padding-bottom:5rem;
                    padding-left:10rem;
                    background-image:url('../image/main/img-visual_01_m.jpg');
                    background-position:center center;
                    background-size:cover;
                    // img{
                    //     display:block;
                    //     width:100%;
                    // }
                }
            }
            .notice{
                &-wrap{
                    flex-wrap:wrap;
                    margin-top:3rem;
                }
                &-item{
                    width:100%;
                    margin-left:0;
                    + div{
                        margin-top:40px;
                    }
                    .top{
                        .img{
                            &-wrap{
                                overflow:hidden;
                            }
                            &-txt{
                                br{
                                    display:none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@include media-breakpoint-down(md){
    .container{
        &-inner{
            .notice{
                &-item{
                    .top{
                        .img-wrap{
                            height:30rem;
                        }
                        .img-txt{
                            font-size:3rem;
                            span{
                                font-size:4rem;
                            }
                        }
                    }
                    .lists{
                        li{
                            a{
                                font-size:2.7rem;
                            }
                        }
                    }
                }
            }
            .treatment{
                &-inner{
                    flex-wrap:wrap;
                    padding:3rem 4rem;
                    a{
                        width:50%;
                        margin-top:40px;
                        &:nth-child(-n + 2){
                            margin-top:0;
                        }
                        .img-wrap{
                            width:11rem;
                            height:11rem;
                        }
                        img{
                            height:60px;
                        }
                    }
                    span{
                        font-size:3rem;
                        font-weight:500;
                    }
                }
            }
            .visual{
                &-wrap{
                    padding-top:35rem;
                    padding-bottom:5rem;
                    padding-left:4rem;
                }
                &-txt{
                    h3{
                        font-size:6rem;
                        em{
                            font-size:4rem;
                        }
                    }
                    p{
                        font-size:3rem;
                    }
                }
            }
        }
    }
}
@include media-breakpoint-down(sm){
}
@include media-breakpoint-down(xs){}
@include media-breakpoint-down(xxs){}

// 최소값
@include media-breakpoint-up(xs){}